body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #4E3384;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
    margin-top: -15px;
}

#link {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #4E3384;
    margin-bottom: 7px;
    outline: none;
    width: 270px;
    padding-left: 20px;
    padding-right: 20px;
}

.botao {
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #402972, #BC67FC);
    color: white;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 750px) {
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imgqr {
        width: 100%;

    }

    #link {
        width: 90%;
    }

    .botao {
        width: 100%;
    }

    .ilustracao {
        order: -1;
    }
}